*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#logo:hover{
  background-color:transparent !important;
  color: orange;
}
#btn{
  background-color: orange;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  margin: 5px;
}
#btn:hover{
  background-color: rgb(228, 185, 107);
  color: #fff;
}
.navbar-container{
  background-color: #f8f9f9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.item {
  color: black;
  font-size: 16px;
  padding: 5px;
  margin:10px;
}
.item:hover{
  background-color: #ced3d6;
  border-radius: 15px;
  color: #ffffff;
}
.navbar-container input[type=text]{
  width: 700px;
  padding: 10px;
  border-radius: 5px 5px;
}
.card{
  padding-bottom: 30px;
  height: 200px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;   
}
.cardBody{
  display: flex;
  margin-bottom: 30px;
  
}

.responsive{
  width: 100%;
  height: auto;
  border-radius: 5px;
}
@media screen and (max-width: 700px) {
  .textSize{
      font-size: 12px;
  }
  .cardBody{
      display: block;
  }    
}
.textSize{
  position: relative;
  bottom: 140px;
  margin-left: 10px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.body{
  margin-left: 15%;  
}
body{
  background-color: whitesmoke;
}

.trend{
  color: grey; 
  margin-left: 10px; 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
  font-size: 20px;
  font-weight: lighter;
  position: relativabe;
  top: 15px;
}



/* The side navigation menu */
.sidebar {
  float: left;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Links on mouse-over */
.sidebar a.sub-heading:hover, a.active {
  background-color: orange;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property*/
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;}


/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) { 
  .sidebar a {
    text-align: center;
    float: none;
  }}
.commentcard{
      border-bottom: 1px solid black;
      padding: 20px;
      background-color: white;
      margin-bottom: 20px;
      border-radius: 8px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: lighter;
      margin-left: 15%;
      }
/* .card-body{
  margin-top: 25%;
} */
.commentcard h2{
    color: rgb(49, 110, 126);
}


.posted-by{
    text-align: right;
}

a{
    text-decoration: none;
    color: rgb(49, 110, 126);
}
.whole-body{
  margin-right: 15%;
  margin-left: 15%;
}
.topnav-content{
  max-width: 70%;
  margin-left: 15%;
}
  /* footer column styling */
  /* .footer .col {
    width: 300px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
    
    
  } */
  /* column text styling */
  /* .footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: rgba(255, 255, 255, 0.2);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.25em;
  } */
  /* footer list styling */
  /* .footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
  } */
  /* footer list content styling */
  /* .footer .col ul li {
    color: #999999;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    
  
  } */
 
  .clearfix {
    clear: both;
  }
  /* footer responsiveness */
  
/* to remove the side margin in footer */
  html,
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, Sans-serif;
  }
  /* footer color */
  .footer{
    background-color: #333;
    margin-top: 40px;
    
    }
  /* centralization of footer content */
  .contain{
      display: flex;
      flex-direction: row;
      justify-content: center;
      justify-content: space-evenly;
      padding: 20px;
      
  }
  /* copyright design code */
  .lastlayer{
      text-align: center;
      color: #999999;
      padding: 10px;
      background-color: #333;
      
  }

  .footer .contain .col ul li{
    list-style-type: none;
    color: #999999;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .footer .contain{
    display: flex;
    flex-direction: row;
  }

    
 
  