*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#logo:hover{
  background-color:transparent !important;
  color: orange;
}
#btn{
  background-color: orange;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  margin: 5px;
}
#btn:hover{
  background-color: rgb(228, 185, 107);
  color: #fff;
}
.navbar-container{
  background-color: #f8f9f9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.item {
  color: black;
  font-size: 16px;
  padding: 5px;
  margin:10px;
}
.item:hover{
  background-color: #ced3d6;
  border-radius: 15px;
  color: #ffffff;
}
.navbar-container input[type=text]{
  width: 700px;
  padding: 10px;
  border-radius: 5px 5px;
}
.card{
    
   
  padding-bottom: 30px;
 height: 200px;
 padding-left: 10px;
 padding-right: 10px;
 padding-top: 10px;
 
}

.card2{
  
 
padding-bottom: 30px;
height: 200px;
padding-left: 10px;
padding-right: 10px;
padding-top: 10px;

}
.card3{
  
 
padding-bottom: 30px;
height: 200px;
padding-left: 10px;
padding-right: 10px;
padding-top: 10px;

}

.cardBody{
  display: flex;
 
}

.responsive{
  width: 100%;
  height: auto;
  border-radius: 5px;
}


@media screen and (max-width: 700px) {
  .textSize{
      font-size: 12px;
  }
  .cardBody{
      display: block;
  }
  
}

.textSize{
  position: relative;
  bottom: 140px;
  margin-left: 10px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.body{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  
}
body{
  background-color: whitesmoke;
}

.trend{
  color: grey; 
  margin-left: 10px; 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
  font-size: 20px;
  font-weight: lighter;
  position: relative;
  /* top: px; */
}


@media screen and (max-width: 700px){
 .card2{
   display: none;
 }
 .card3{
   display: none;
 }
}



/* The side navigation menu */
.sidebar {
  float: left;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Links on mouse-over */
.sidebar a.sub-heading:hover, a.active {
  background-color: orange;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property*/
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;}


/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) { 
  .sidebar a {
    text-align: center;
    float: none;
  }}

/* .card-body{
  margin-top: 25%;
} */


.cardholder{
  display: flex;
  justify-content: space-evenly;
  margin-top: 150px;
  flex-direction: column;
  align-items: center;
  

}
.commentcard h2{
    color: rgb(49, 110, 126);
}
.commentCard{
  border-bottom: 1px solid black;
  padding: 20px;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 8px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: lighter;
  width: 80%;
  
}
.posted-by{
  text-align: right;
}



a{
    text-decoration: none;
    color: rgb(49, 110, 126);
}

 
 
  .clearfix {
    clear: both;
  }
  /* footer responsiveness */
  
/* to remove the side margin in footer */
  html,
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, Sans-serif;
  }
  /* footer color */
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer-container{
    background-color:#232629;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* justify-content: flex-end; */
    /* align-items:center ;
    justify-items: center; */
    /* justify-content: center; */
    
}
.footer-item {
    color: #fff;
    font-size: 20px;
    padding: 20px;
    margin:10px;
}

.footer-content-container{
    padding-top: 15px;
    font-size: 14px;
    cursor: pointer;
}
.items-1,.items-2,.items-3,.items-4{
    padding: 5px;            
}
.items-1:hover{
    color: orange;
}.items-2:hover{
    color: orange;
}.items-3:hover{
    color: orange;
}.items-4:hover{
    color: orange;
}
@media screen and  (max-width: 700px){
    .footer-container{
        flex-direction: column;
    }
    .footer-content-container{
        display: flex;
    }
    .items-1,.items-2,.items-3,.items-4{
        padding: 10px;            
    }
}


   
  @media screen and (max-width : 700px){

    .item-3{
      display: none;

    }
    .item-4{
      display: none;
    }

    .Search-item{
    
    display: none;
  
    }

  }

  @media screen and (min-width: 600px) {
    .stuff {
      display:none;
    }
  }
  
  @media screen and (max-width: 600px) {
    .stuff {
      font-size: 10px;
      padding-left: 12px;
      padding-right: 12px;
      background-color: orange;
      border: 1px solid orange;
      color: white;
      padding-top: 2px;
      padding-bottom: 2px;
      border-radius: 5px;
    }
  }
