.card{
  padding-bottom: 30px;
  height: 200px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;   
}

.card2{
    
   
padding-bottom: 30px;
 height: 200px;
 padding-left: 10px;
 padding-right: 10px;
 padding-top: 10px;
 
}
.card3{
    
   
  padding-bottom: 30px;
 height: 200px;
 padding-left: 10px;
 padding-right: 10px;
 padding-top: 10px;
 
}

.cardBody{
  display: flex;
  margin-bottom: 30px;
  
}

.responsive{
  width: 100%;
  height: auto;
  border-radius: 5px;
}
@media screen and (max-width: 700px) {
  .textSize{
      font-size: 12px;
  }
  .cardBody{
      display: block;
  }    
}
.textSize{
  position: relative;
  bottom: 140px;
  margin-left: 10px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.body{
  margin-left: 15%;  
}
body{
  background-color: whitesmoke;
}

.trend{
  color: grey; 
  margin-left: 10px; 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
  font-size: 20px;
  font-weight: lighter;
  position: relativabe;
  top: 15px;
}


 @media screen and (max-width: 700px){
   .card2{
     display: none;
   }
   .card3{
     display: none;
   }
 }
